[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
passlib = "*"

[dev-packages]
requests = "*"
ipdb = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
